.tokenItem{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    grid-template-areas:"from to eth sig sig gas view exe"
}
.tokenItem > * {
    justify-content: unset;
    overflow-x: auto;
}
.sig {
    grid-area: sig;
}