html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-size: 62.5%;
}

::placeholder {
	/* color: white; */
	opacity: 1; /* Firefox */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

